<div>
  hellos
  {{section.settings.text}}
</div>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "category": "Product",
      "name":"Product Grid"
    }
  ]
}
{% endschema %}